@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,600,700&display=swap');
body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background: #ffffff;
  z-index: 1000;
  position: fixed;
}

.main-header .logo {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.main-header .logo a {
  font-size: 20px;
  font-weight: 400;
  color: #309282;
  text-decoration: none;
}

.main-header .header-middle {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.main-header .header-middle .main-nav {
  float: left;
  margin: 0 48px;
}

.main-header .header-middle .main-nav.right-block {
  float: right;
  margin: 0 15px;
}

.main-header .header-middle .main-nav ul {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header .header-middle .main-nav ul li {
  display: block;
  float: left;
  padding: 2px 24px;
}

.main-header .header-middle .main-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 14px;
  line-height: 17px;
  color: #2d2e2c;
  text-decoration: none;
}

.main-header .header-middle .main-nav ul li a.active {
  color: #309282;
}

.main-header .header-middle .main-nav ul li a i {
  font-size: 13px;
  margin-left: 4px;
}

span a.baker {
  color: #309282;
}
.main-header .header-middle .main-nav ul li a:hover {
  color: #309282;
}

.main-header .header-middle .main-nav ul li.active a {
  color: #309282;
}

.main-header .header-middle .main-nav ul li .dropdown-toggle:after {
  position: relative;
  top: -2px;
  border: none;
  content: url(../img/angle-down.svg);
  vertical-align: baseline;
}

.main-header .header-middle .main-nav ul li .dropdown-menu {
  top: 10px !important;
  border: 1px solid #f0f0f1;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.02);
}

.main-header .header-middle .main-nav ul li .dropdown-menu .dropdown-item {
  padding: 0.8rem 1rem;
  font-size: 14px;
  color: #2d2e2c;
}

.main-header .header-middle .main-nav ul li .dropdown-menu .dropdown-item:hover,
.main-header .header-middle .main-nav ul li .dropdown-menu .dropdown-item:focus,
.main-header
  .header-middle
  .main-nav
  ul
  li
  .dropdown-menu
  .dropdown-item:active {
  background: transparent;
  color: #309282;
}

.main-header .search {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  position: relative;
}

.main-header .search .search-query {
  width: 100%;
  height: 40px;
  padding: 0 62px 0 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  color: #2d2e2c;
}

.main-header .search .button-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 40px;
  border: none;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  background-color: #309282;
}

.main-header .search .button-search i {
  color: #fff;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* margin-bottom: 2rem; */
  background-image: url('../img/green-bg.svg');
  background-position: 0 0;
  /*background-repeat: repeat-x;*/
  padding-top: 80px;
  flex: 1;
  min-height:calc(100vh - 60px);
}

.main-content.error-page {
  background-image: none;
}

.main-content.error-page .error-text {
  margin-top: 1rem;
  font-size: 75px;
  font-weight: 700;
  line-height: 110px;
  letter-spacing: 1.285714px;
  color: #309282;
}

.main-content.error-page .error-subtitle {
  font-size: 36px;
  font-weight: 500;
  line-height: 56px;
  text-align: center;
  color: #2d2e2c;
}

.main-content.error-page .go-home {
  display: inline-block;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
  background-color: #309282;
  border: none;
  border-radius: 4px;
  padding: 1rem 8rem;
  margin: 2rem 0;
  cursor: pointer;
  text-decoration: none;
}

.main-content .promo-section {
  position: relative;
  width: 100%;
  margin: 0;
  background-image: url('../img/green-bg.svg');
  background-position: 0 242px;
  background-repeat: repeat-x;
}

.main-content .promo-section .promo-top {
  overflow: hidden;
}

.main-content .promo-section .promo-top .promo-search h1 {
  font-size: 30px;
  color: #309282;
}

.main-content .promo-section .promo-top .promo-search p {
  font-size: 18px;
  color: #2d2e2c;
}

.main-content .promo-section .promo-top .promo-search .search {
  width: 85%;
  position: relative;
  margin-bottom: 12px;
}

.main-content .promo-section .promo-top .promo-search .search .search-query {
  width: 100%;
  height: 60px;
  padding: 0 90px 0 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  color: #2d2e2c;
}

.main-content .promo-section .promo-top .promo-search .search .button-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 60px;
  border: none;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  font-size: 25px;
  background-color: #309282;
}

.main-content .promo-section .promo-top .promo-search .search .button-search i {
  font-size: 25px;
  color: #fff;
}

.main-content .promo-section .promo-top .promo-image {
  margin: 26px 0;
}

.main-content .promo-section .promo-tiles {
  margin: 1.6rem 0;
}
.main-content .promo-section .promo-tiles:last-child {
  margin: 1.6rem 0 0;
}

.main-content .promo-section .promo-tiles .tile {
  height: 100%;
  border-radius: 4px;
  border: solid 1px #f0f0f1;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.02);
  padding: 15px;
}

.main-content .promo-section .promo-tiles .tile .tile-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #f0f0f1;
  border-radius: 4px;
  margin: 30px auto 14px;
  padding: 5px 0 0;
  font-size: 20px;
  color: #f0f0f1;
}

.main-content .promo-section .promo-tiles .tile .tile-icon i {
  font-size: 20px;
  color: #f0f0f1;
}

.main-content .promo-section .promo-tiles .tile .counter {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  color: #2d2e2c;
}

.main-content .promo-section .promo-tiles .tile .percentage {
  display: block;
  height: 22px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.main-content .promo-section .promo-tiles .tile .percentage.green {
  color: #309282;
}

.main-content .promo-section .promo-tiles .tile .percentage.red {
  color: #e56968;
}

.main-content .promo-section .promo-tiles .tile .percentage i {
  font-size: 11px;
}

.main-content .promo-section .promo-tiles .tile .tile-name {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #9ea0a5;
}

.main-content .promo-section .promo-tiles .voting-progress {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1;
  padding-top: 14px;
  height: 61px;
}

.main-content .breadcrumbs {
  padding: 2rem 0 1rem;
}

.main-content .breadcrumbs h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0.4285713px;
  color: #309282;
}

.main-content .breadcrumbs .breadcrumb {
  margin: 0;
  padding: 0;
  background: transparent;
}

.main-content .breadcrumbs .breadcrumb .breadcrumb-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.3857144px;
  color: #309282;
  word-break: break-all;
}

.main-content .breadcrumbs .breadcrumb .breadcrumb-item:first-child:before {
  display: none;
}

.main-content .breadcrumbs .breadcrumb .breadcrumb-item:before {
  content: ' - ';
  color: #2d2e2c;
}

.main-content .breadcrumbs .breadcrumb .breadcrumb-item a {
  color: #2d2e2c;
}

.main-content section {
  margin: 1.6rem 0;
}

.main-content section .card {
  border: 1px solid #f0f0f1;
  border-radius: 4px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.02);
}

.main-content section .card .card-header {
  width: 100%;
  float: left;
  background: #fff;
  border: none;
  padding: 18px 28px 9px;
}

.main-content section .card .card-header h3 {
  position: relative;
  /* height: 32px; */
  margin-bottom: 0;
}

.main-content section .card .card-header h3 .text {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-content section .card .card-header h3 .counter {
  position: absolute;
  right: 0;
  top: 0;
}

.main-content section .card .card-header h3 .counter .line {
  display: block;
  float: left;
  width: 30px;
  height: 16px;
  margin-right: 0.5rem;
  border-bottom: 1px solid #9ea0a5;
  opacity: 0.5;
}

.main-content section .card .card-header h3 .counter .counter-text {
  font-size: 26px;
  font-weight: 300;
  /* line-height: 32px; */
}

.main-content section .card .card-header .subtitle {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #9ea0a5;
}

.main-content section .card .card-header .table-filters {
  width: 100%;
  float: left;
}

.main-content section.cycle-counter .card .card-header .title span {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #9ea0a5;
}

.progress {
  height: 8px;
  background-color: #f0f0f1;
}
.progress .progress-bar {
  background-color: #309282;
}
.progress-labels {
  margin-bottom: 8px;
  width: 100%;
  float: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  color: #9ea0a5;
}

.main-content
  section
  .card
  .card-header
  .table-filters
  .dropdown
  .btn-secondary {
  padding: 0;
  border: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  background: transparent;
  color: #9ea0a5;
}

.main-content
  section
  .card
  .card-header
  .table-filters
  .dropdown
  .btn-secondary:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-content
  section
  .card
  .card-header
  .table-filters
  .dropdown
  .btn-secondary.dropdown-toggle:after {
  border: none;
  content: url(../img/arrow-down.svg);
  vertical-align: baseline;
}

.main-content
  section
  .card
  .card-header
  .table-filters
  .dropdown
  .dropdown-item {
  font-size: 13px;
  font-weight: 600;
  color: #9ea0a5;
}

.main-content
  section
  .card
  .card-header
  .table-filters
  .dropdown
  .dropdown-item:hover {
  background-color: #e0efec;
  color: #309282;
}

.main-content section .card .card-header .table-filters .btn {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  padding: 4px;
}

.main-content section .card .card-header .table-filters .btn.green {
  color: #309282;
}

.main-content section .card .card-divider {
  width: 97.5%;
  height: 1px;
  margin: 12px auto 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(6%, #4a4a4a),
    color-stop(2%, rgba(255, 255, 255, 0))
  );
  background-image: linear-gradient(
    to right,
    #4a4a4a 6%,
    rgba(255, 255, 255, 0) 2%
  );
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.main-content section .card .card-body {
  width: 100%;
  float: left;
  /* padding: 9px 28px 18px; */
}

.main-content section .card .card-body .table thead tr th {
  font-size: 14px;
  font-weight: 700;
  color: #2d2e2c;
}

.main-content section .card .card-body .table tbody {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(6%, #4a4a4a),
    color-stop(2%, rgba(255, 255, 255, 0))
  );
  background-image: linear-gradient(
    to right,
    #4a4a4a 6%,
    rgba(255, 255, 255, 0) 2%
  );
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.main-content section .card .card-body .table tbody tr:last-child {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(6%, #4a4a4a),
    color-stop(2%, rgba(255, 255, 255, 0))
  );
  background-image: linear-gradient(
    to right,
    #4a4a4a 6%,
    rgba(255, 255, 255, 0) 2%
  );
  background-position: bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.main-content section .card .card-body .table tbody tr td {
  padding: 1rem 0.75rem;
  font-size: 14px;
}

.main-content section .card .card-body .table tbody tr td a {
  display: block;
  float: left;
  width: 100%;
  color: #309282;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-content section .card .card-body .pagination {
  float: right;
  margin: 0;
}

.main-content section .card .card-body .pagination .page-item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.main-content section .card .card-body .pagination .page-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.main-content section .card .card-body .pagination .page-item .page-link {
  border: none;
  color: #9ea0a5;
}

.main-content
  section
  .card
  .card-body
  .pagination
  .page-item.active
  .page-link {
  background-color: transparent;
  color: #309282;
}

.main-content section .card .card-body .pagination .page-item:hover .page-link {
  background-color: #e0efec;
  color: #309282;
}

.main-content section .card .card-body .item-info {
  padding: 12px 0;
}

.main-content section .card .card-body .item-info .label {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #9ea0a5;
}

.main-content section .card .card-body .item-info .value {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #2d2e2c;
}

.main-content section .card .nav-tabs {
  margin: 30px 30px 0;
  border-color: #f0f0f1;
}

.main-content section .card .nav-tabs .nav-item .nav-link {
  padding: 0.5rem 2rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #f0f0f1;
}

.main-content section .card .nav-tabs .nav-item .nav-link.active {
  color: #309282;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 2px solid #309282;
}

.main-content section .card .nav-tabs .nav-item .nav-link.active:hover {
  border-bottom: 2px solid #309282;
}

.main-content section .card .nav-tabs .nav-item .nav-link:hover {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 2px solid #f0f0f1;
  color: #309282;
}

.main-content section .card .tab-content {
  padding: 1rem 0;
}

.promo-footer {
  /* padding: 2rem 0; */
  padding: 15px;
  background-color: #e0efec;
}

.promo-footer h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #309282;
  margin-top: 2rem;
}

.promo-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo-footer ul li {
  min-height: 22px;
  padding: 8px 0;
}

.promo-footer ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #2d2e2c;
}

.promo-footer ul li a:hover {
  color: #309282;
}

@media screen and (max-width: 1450px) {
  .card-body .table.transactions-table,
  .card-body .table.delegations-table {
    table-layout: fixed;
  }
}
@media screen and (max-width: 1360px) {
  .main-header .header-middle .main-nav {
    float: left;
    margin: 0 15px;
  }

  .main-header .header-middle .main-nav.right-block {
    float: right;
    margin: 0 20px;
  }

  .main-header .header-middle .main-nav ul li {
    display: block;
    float: left;
    padding: 2px 20px;
  }
}
/*# sourceMappingURL=styles.css.map */
