// TODO: Separate this file into smaller ones
body {
  font-family: 'Montserrat Alternates', Arial, sans-serif, 'Andika';
  font-size: 14px;
}

.main-header {
  display: block;
  background: $color-white;
  z-index: 100;
  // FIXME: Debug position: sticky
  position: sticky;
  top: 0;
}

.main-header .navbar {
  padding-left: 30px;
  padding-right: 30px;
  align-items: baseline;
}

.main-header .navbar .form-group {
  margin-top: 10px;
  margin-bottom: 5px;
}

.main-header .navbar .col-form-label,
.main-header .navbar .col-form-label + div {
  padding: 0 5px;
}

.main-header .navbar .col-form-label {
  padding-bottom: 5px;
}

.main-header .dropdown-item {
  font-size: 14px;
}

.main-header .dropdown-item.active,
.dropdown-item:active {
  background-color: #309282;
}

.dropdown-toggle:after {
  vertical-align: middle;
}

@media (max-width: 1199px) {
  .main-header .search {
    display: inline-flex;
    margin-top: 5px;
  }
}

@media (max-width: 991px) {
  .main-header .navbar-collapse {
    padding: 10px 0;
  }

  .main-header .dropdown-menu.show {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .main-header .search {
    display: block;
  }

  .main-header .search .search-query {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .main-header .dropdown-menu.show {
    display: block;
  }
}

.main-header .logo {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.main-header .logo a {
  font-size: 20px;
  font-weight: 400;
  color: $color-brand;
  text-decoration: none;
}

.main-header .header-middle {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.main-header .header-middle .main-nav {
  float: left;
  margin: 0 30px;
}

.main-header .header-middle .main-nav.right-block {
  float: right;
  margin: 0 30px 0 0;
  ul {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-nav__list {
  display: flex;
  align-items: center;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header .header-middle .main-nav ul li {
  display: block;
  float: left;
  padding: 0 24px 0 0;

  &:last-child {
    padding-right: 0;
  }
}

.main-header .header-middle .main-nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 14px;
  line-height: 17px;
  color: $color-black;
  text-decoration: none;
}

.main-header .header-middle .main-nav ul li a.active {
  color: $color-brand;
}

.main-header .header-middle .main-nav ul li a i {
  font-size: 13px;
  margin-left: 4px;
}

a.baker,
span a.baker,
.link {
  color: $color-brand;
  word-break: break-all;
}
.main-header .header-middle .main-nav ul li a:hover,
.link:hover {
  color: $color-brand;
}

.main-header .header-middle .main-nav ul li.active a {
  color: $color-brand;
}

.main-header .header-middle .main-nav ul li .dropdown-toggle:after {
  border: none;
}

.main-header .date-switcher .dropdown-menu {
  left: auto;
  right: 0;
}

.main-header .header-middle .main-nav ul li .dropdown-menu {
  top: 10px !important;
  border: 1px solid $color-white--grey;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 15px 7px $color-black--opacity-02;
  box-shadow: 0px 0px 15px 7px $color-black--opacity-02;
}

.main-header .header-middle .main-nav ul li .dropdown-menu .b-dropdown-text {
  padding: 0.8rem 1rem;
  font-size: 14px;
}

.main-header .header-middle .main-nav ul li .dropdown-menu .dropdown-item {
  padding: 0.8rem 1rem;
  font-size: 14px;
  color: $color-black;
  transition: color 0.2s;
}

.main-header .header-middle .main-nav ul li .dropdown-menu .dropdown-item:hover,
.main-header .header-middle .main-nav ul li .dropdown-menu .dropdown-item:focus,
.main-header
  .header-middle
  .main-nav
  ul
  li
  .dropdown-menu
  .dropdown-item:active {
  background: transparent;
  color: $color-brand;
}

.main-header .search {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  position: relative;
}

.main-header .search .search-query {
  height: 37px;
  padding: 0 48px 0 10px;
  border-radius: 3px;
  border: 1px solid $color-white--grey-2;
  color: $color-black;
}

.main-header .navbar .navbar-toggler {
  border: 0;
}

@media (min-width: 991px) {
  .main-header .search .search-query {
    padding: 0 28px 0 10px;
  }
}

@media (min-width: 1024px) {
  .main-header .search .search-query {
    padding: 0 48px 0 10px;
  }
}

@media (max-width: 991px) {
  .main-header .search .search-query {
    padding: 0 68px 0 10px;
  }
}

.main-header .search .button-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 37px;
  border: 1px solid transparent;
  border-radius: 0 4px 4px 0;
  color: $color-white;
  background-color: $color-brand;
}

.main-header .search .button-search i {
  color: $color-white;
}

.main-content .promo-section {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: $color-teal--light;
}

.main-content .promo-section .promo-top .promo-search {
  margin: 26px 0;
}

.main-content .promo-section .promo-top .promo-search h1 {
  font-size: 30px;
  color: $color-brand;
}

.main-content .promo-section .promo-top .promo-search p {
  font-size: 18px;
  color: $color-black;
}

.main-content .promo-section .promo-top .promo-search .search {
  width: 85%;
  position: relative;
  margin-bottom: 5px;
}

.main-content
  .promo-section
  .promo-top
  .promo-search
  .search
  .search-form--invalid
  .search-query,
.main-header .search .search-form--invalid .search-query {
  border: 1px solid $color-error;
}

.main-content
  .promo-section
  .promo-top
  .promo-search
  .search
  .search-form--invalid
  .button-search,
.main-header .search .search-form--invalid .button-search {
  border-top: 1px solid $color-error;
  border-bottom: 1px solid $color-error;
  border-right: 1px solid $color-error;
}

.main-content .promo-section .promo-top .promo-search .search .search-query {
  width: 100%;
  height: 50px;
  padding: 0 90px 0 20px;
  border-radius: 3px;
  border: 1px solid $color-white--grey-2;
  color: $color-black;
}

.main-content
  .promo-section
  .promo-top
  .promo-search
  .search
  .search-query:focus,
.main-header .search__form .search-query:focus {
  box-shadow: 0 0 0 0.2rem rgba(48, 146, 130, 0.25); //green
}

.main-content
  .promo-section
  .promo-top
  .promo-search
  .search-form--invalid
  .search-query:focus,
.main-header .search-form--invalid .search-query:focus {
  box-shadow: 0 0 0 0.2rem rgba(299, 105, 104, 0.25);
}
.main-content .promo-section .promo-top .promo-search .search .button-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 0 4px 4px 0;
  color: $color-white;
  font-size: 25px;
  background-color: $color-brand;
}

.main-content
  .promo-section
  .promo-top
  .promo-search
  .search
  .button-search:focus,
.main-header .search .button-search:focus {
  box-shadow: 0 0 0 0.2rem rgba(48, 146, 130, 0.25);
}

.main-content
  .promo-section
  .promo-top
  .promo-search
  .search-form--invalid
  .button-search:focus,
.main-header .search-form--invalid .button-search:focus {
  box-shadow: 0 0 0 0.2rem rgba(299, 105, 104, 0.25);
}

.main-header .search .button-search:active:focus {
  background-color: #309282;
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(48, 146, 130, 0.25);
}

.main-content .promo-section .promo-top .promo-search .search .button-search i {
  font-size: 25px;
  color: $color-white;
}

.main-content .promo-section .promo-top .promo-search .search .search-form {
  position: relative;
}

.main-content
  .promo-section
  .promo-top
  .promo-search
  .search
  .search-form--error,
.main-header .search .search-form--error {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 13px;
  color: $color-error;
}

.main-content .promo-section .promo-top .promo-image {
  position: relative;
  margin: 26px 0;
  height: 270px;
  overflow: hidden;
}

.main-content .promo-section .promo-top .promo-image__src {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-content .promo-section .promo-tiles {
  margin: 0;
}

.main-content .promo-section .promo-tiles .tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 4px;
  border: solid 1px $color-white--grey;
  background: $color-white;
  -webkit-box-shadow: 0px 0px 15px 7px $color-black--opacity-02;
  box-shadow: 0px 0px 15px 7px $color-black--opacity-02;
  padding: 5px 15px 10px;
}

.main-content .promo-section .promo-tiles .tile .tile-icon {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid $color-grey-2;
  border-radius: 4px;
  margin: 10px auto 10px;
  padding: 5px 0 0;
  font-size: 20px;
  color: $color-grey-2;
}

.main-content .promo-section .promo-tiles .tile .tile-icon > svg {
  width: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content .promo-section .promo-tiles .tile .tile-icon i {
  font-size: 20px;
  color: $color-white--grey;
}

.main-content .promo-section .promo-tiles .tile .counter {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  color: $color-black;
}

.main-content .promo-section .promo-tiles .tile .counter + div {
  line-height: 1;
}

.main-content .promo-section .promo-tiles .tile .percentage {
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
  font-size: 12px;
}

.main-content .promo-section .promo-tiles .tile .percentage.green {
  color: $color-brand;
}

.main-content .promo-section .promo-tiles .tile .percentage.red {
  color: $color-error;
}

.main-content .promo-section .promo-tiles .tile .percentage i {
  font-size: 11px;
}

.main-content .promo-section .promo-tiles .tile .tile-name {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: $color-grey;
}

.main-content .promo-section .promo-tiles .voting-progress {
  padding-top: 14px;
}

.main-content section {
  margin: 1.6rem 0;
}

.main-content section .card {
  border: 1px solid $color-white--grey;
  border-radius: 4px;
  background: $color-white;
  -webkit-box-shadow: 0px 0px 15px 7px $color-black--opacity-02;
  box-shadow: 0px 0px 15px 7px $color-black--opacity-02;
}

.main-content section .card .card-header {
  width: 100%;
  float: left;
  background: $color-white;
  border: none;
  padding: 10px 15px 10px;
}

.main-content section .card .card-header h3 {
  position: relative;
  margin-bottom: 0;
}

.main-content section .card .card-header h3 .text,
.main-content section .card h3 .card__title--strong {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

.main-content section .card h3 .card__title--strong {
  cursor: text;
}

.main-content section .card .card-header h3 .counter {
  position: absolute;
  right: 0;
  top: 0;
}

.main-content section .card .card-header h3 .counter .line {
  display: block;
  float: left;
  width: 30px;
  height: 16px;
  margin-right: 0.5rem;
  border-bottom: 1px solid $color-grey;
  opacity: 0.5;
}

.main-content section .card .card-header h3 .counter .counter-text {
  font-size: 26px;
  font-weight: 300;
}

.main-content section .card .card-header .subtitle {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: $color-grey;
}

.main-content section .card .card-header .table-filters {
  width: 100%;
  float: left;
}

.main-content .card-body {
  padding: 10px 15px;
}

.main-content section.cycle-counter .card__header,
.main-content section.cycle-counter .card__body {
  padding: 10px 15px;
}

.main-content section.cycle-counter .card-body {
  padding-top: 15px;
  padding-bottom: 5px;
}

.main-content section.cycle-counter .card .card-header .title span {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: $color-grey;
}

.main-content section.cycle-counter .card-body > .progress-labels {
  margin-bottom: 3px;
}

.progress {
  height: 6px;
  background-color: $color-white--grey;
}
.progress .progress-bar {
  background-color: $color-brand;
}
.progress-labels {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-grey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.voting-progress .progress-labels {
  flex-direction: column;
}

.main-content
  section
  .card
  .card-header
  .table-filters
  .dropdown
  .btn-secondary {
  padding: 0;
  border: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  background: transparent;
  color: $color-grey;
}

.main-content
  section
  .card
  .card-header
  .table-filters
  .dropdown
  .btn-secondary:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-content
  section
  .card
  .card-header
  .table-filters
  .dropdown
  .dropdown-item {
  font-size: 13px;
  font-weight: 600;
  color: $color-grey;
}

.main-content
  section
  .card
  .card-header
  .table-filters
  .dropdown
  .dropdown-item:hover {
  background-color: $color-teal--light;
  color: $color-brand;
}

.main-content section .card .card-header .table-filters .btn {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  padding: 4px;
}

.main-content section .card .card-header .table-filters .btn.green {
  color: $color-brand;
}

.main-content section .card .card-divider {
  width: 98.5%;
  height: 1px;
  margin: 12px auto 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(6%, $color-grey--dark),
    color-stop(2%, $color-white--opacity-0)
  );
  background-image: linear-gradient(
    to right,
    $color-grey--dark 6%,
    $color-white--opacity-0 2%
  );
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.main-content section .card .card__block-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-content section .card .card__block-nav h3 {
  text-align: center;
}

.main-content section .card .card__block-prev,
.main-content section .card .card__block-next {
  cursor: pointer;
}

.main-content section .card .card__block-prev--disabled,
.main-content section .card .card__block-next--disabled {
  color: rgba(0, 0, 0, 0.3);
  cursor: text;
}

.main-content section .card .card-body {
  width: 100%;
  float: left;
}

.main-content section .card .card-body .card__pointer {
  cursor: pointer;
}

.main-content section .card .card-body .card__no-padding {
  padding: 0;
}

.main-content section .dashboard__card .card-body {
  padding-top: 0;
  padding-bottom: 5px;
}

.main-content section .card .card-body .table thead tr th {
  font-size: 14px;
  font-weight: 700;
  color: $color-black;
}

.main-content section .card .card-body .table tbody {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(6%, $color-grey--dark),
    color-stop(2%, $color-white--opacity-0)
  );
  background-image: linear-gradient(
    to right,
    $color-grey--dark 6%,
    $color-white--opacity-0 2%
  );
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.main-content section .card .card-body .table tbody tr:last-child {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(6%, $color-grey--dark),
    color-stop(2%, $color-white--opacity-0)
  );
  background-image: linear-gradient(
    to right,
    $color-grey--dark 6%,
    $color-white--opacity-0 2%
  );
  background-position: bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.main-content section .card .card-body .table tbody tr td {
  padding: 0.75rem;
  font-size: 14px;
}

.main-content section .card .card-body .table tbody tr td a {
  position: relative;
  color: $color-brand;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-content section .card .card-body .pagination {
  float: right;
  margin: 0;
}

.main-content section .card .card-body .pagination .page-item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.main-content section .card .card-body .pagination .page-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.main-content section .card .card-body .pagination .page-item .page-link {
  border: none;
  color: $color-grey;
}

.main-content
  section
  .card
  .card-body
  .pagination
  .page-item.active
  .page-link {
  background-color: transparent;
  color: $color-brand;
}

.main-content section .card .card-body .pagination .page-item:hover .page-link {
  background-color: $color-teal--light;
  color: $color-brand;
}

.main-content
  section
  .card
  .card-body
  .pagination
  .page-item.disabled:hover
  .page-link {
  background-color: transparent;
  color: $color-brand;
}

.main-content section .card .card-body .pagination .page-item .page-link:focus {
  box-shadow: none;
}

.main-content section .card .card-body .item-info .value {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: $color-black;
}

.main-content section .card .nav-tabs {
  margin: 10px 0 0;
  border-color: $color-white--grey;
}

.main-content section .card .nav-tabs .nav-item .nav-link {
  padding: 0.5rem 2rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: $color-white--grey-2;
}

.main-content section .card .nav-tabs .nav-item .nav-link.active {
  color: $color-brand;
  border-top: 1px solid $color-white;
  border-left: 1px solid $color-white;
  border-right: 1px solid $color-white;
  border-bottom: 2px solid $color-brand;
}

.main-content section .card .nav-tabs .nav-item .nav-link.active:hover {
  border-bottom: 2px solid $color-brand;
}

.main-content section .card .nav-tabs .nav-item .nav-link:hover {
  border-top: 1px solid $color-white;
  border-left: 1px solid $color-white;
  border-right: 1px solid $color-white;
  border-bottom: 2px solid $color-white--grey;
  color: $color-brand;
}

.main-content section .card .tab-content {
  padding: 1rem 0;
}

.promo-footer {
  padding: 15px;
  background-color: $color-teal--light;
}

.promo-footer h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: $color-brand;
  margin-top: 2rem;
}

.promo-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo-footer ul li {
  min-height: 22px;
  padding: 8px 0;
}

.promo-footer ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: $color-black;
}

.promo-footer ul li a:hover {
  color: $color-brand;
}

@media screen and (max-width: 1450px) {
  .card-body .table.transactions-table,
  .card-body .table.delegations-table {
    table-layout: fixed;
  }
}
@media screen and (max-width: 1360px) {
  .main-header .header-middle .main-nav {
    float: left;
  }

  .main-header .header-middle .main-nav.right-block {
    float: right;
  }

  .main-header .header-middle .main-nav ul li {
    display: block;
    float: left;
  }
}
/*# sourceMappingURL=styles.css.map */

/* Progressbar styling */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: $color-brand;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px $color-brand, 0 0 5px $color-brand;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: $color-brand;
  border-left-color: $color-brand;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**/
.main-content section .card .card-body .table thead tr th {
  position: relative;
}

.table.b-table > thead > tr > th[aria-sort][aria-sort='descending']::before,
.table.b-table > tfoot > tr > th[aria-sort][aria-sort='descending']::before,
.table.b-table > thead > tr > th[aria-sort][aria-sort='ascending']::before,
.table.b-table > tfoot > tr > th[aria-sort][aria-sort='ascending']::before,
.table.b-table > thead > tr > th[aria-sort]::before,
.table.b-table > tfoot > tr > th[aria-sort]::before {
  content: none;
}

.table.b-table > thead > tr > th[aria-sort][aria-sort='ascending']::after,
.table.b-table > tfoot > tr > th[aria-sort][aria-sort='ascending']::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;

  @include for-desktop-down {
    top: auto;
    bottom: 18px;
    transform: none;
  }
}

.table.b-table > thead > tr > th[aria-sort][aria-sort='descending']::after,
.table.b-table > tfoot > tr > th[aria-sort][aria-sort='descending']::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;

  @include for-desktop-down {
    top: auto;
    bottom: 18px;
    transform: none;
  }
}

.table.b-table > thead > tr > th[aria-sort]::after,
.table.b-table > tfoot > tr > th[aria-sort]::after {
  margin-left: 7px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;

  @include for-desktop-down {
    margin-left: 5px;
    display: inline-block;
    top: auto;
    bottom: 18px;
    transform: none;
  }
}

.ordinal-number {
  display: inline-block;
  max-width: 100px;
}

.page__el--loading {
  pointer-events: none;
  user-select: none;
  background-color: #e0efec;
}

.list .table-skeleton tr td {
  min-width: 80px;
}
