.table {
  th:focus {
    outline: $color-brand--opacity-2 auto 1px;
    background-color: $color-brand--opacity-2;
  }
}

.baking-list .table-primary, .table-primary>th, .table-primary>td,
.endorsing-list .table-primary, .table-primary>th, .table-primary>td {
  background-color: $color-brand;
}
