@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,600,700&display=swap');

.tz_link a {
  color: $color-brand;
  text-transform: capitalize;
  font-size: 14px;
}
.tz-title--bold {
  font-weight: bold;
  margin-bottom: 0;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: $color-grey;
}


.font {
  &--mini {
    // max-width 1800
    @include from-large-desktop {
      font-size: 16px !important;
    }

    // max-width 1400
    @include from-big-desktop {
      font-size: 16px !important;
    }

    // 1025-1280
    @include from-laptop-to-desktop {
      font-size: 16px !important;
    }

    // 768-1024
    @include from-tablet-to-laptop {
      font-size: 16px !important;
    }

    // 481-767
    @include from-smartphone-portrait-to-tablet {
      font-size: 16px !important;
    }

    // 320-480
    @include from-smartphone-to-portrait {
      font-size: 16px !important;
    }

    // 320
    @include from-smartphone {
      font-size: 16px !important;
    }
  }
  &--regular {
    // max-width 1800
    @include from-large-desktop {
      font-size: 25px !important;
    }

    // max-width 1400
    @include from-big-desktop {
      font-size: 25px !important;
    }

    // 1025-1280
    @include from-laptop-to-desktop {
      font-size: 21px !important;
    }

    // 768-1024
    @include from-tablet-to-laptop {
      font-size: 18px !important;
    }

    // 481-767
    @include from-smartphone-portrait-to-tablet {
      font-size: 16px !important;
    }

    // 320-480
    @include from-smartphone-to-portrait {
      font-size: 16px !important;
    }

    // 320
    @include from-smartphone {
      font-size: 16px !important;
    }
  }
}

.font-weight-semi-bold {
  font-weight: 600;
}

.label {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: $color-grey;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.text-accent {
  @extend .fs-16, .font-weight-bold;
}

.color-accent {
  color: $color-brand;

  &:hover {
    color: $color-brand;
  }
}
