@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,600,700&display=swap');

.tz_link a {
  color: $color-brand;
  text-transform: capitalize;
}
.tz-title--bold {
  font-weight: bold;
  margin-bottom: 0;
}


.font {
  &--mini {
    // max-width 1800
    @include from-large-desktop {
      font-size: 21px !important;
    }

    // max-width 1400
    @include from-big-desktop {
      font-size: 21px !important;
    }

    // 1025-1280
    @include from-laptop-to-desktop {
      font-size: 21px !important;
    }

    // 768-1024
    @include from-tablet-to-laptop {
      font-size: 18px !important;
    }

    // 481-767
    @include from-smartphone-portrait-to-tablet {
      font-size: 16px !important;
    }

    // 320-480
    @include from-smartphone-to-portrait {
      font-size: 16px !important;
    }

    // 320
    @include from-smartphone {
      font-size: 16px !important;
    }
  }
  &--regular {
    // max-width 1800
    @include from-large-desktop {
      font-size: 25px !important;
    }

    // max-width 1400
    @include from-big-desktop {
      font-size: 25px !important;
    }

    // 1025-1280
    @include from-laptop-to-desktop {
      font-size: 21px !important;
    }

    // 768-1024
    @include from-tablet-to-laptop {
      font-size: 18px !important;
    }

    // 481-767
    @include from-smartphone-portrait-to-tablet {
      font-size: 16px !important;
    }

    // 320-480
    @include from-smartphone-to-portrait {
      font-size: 16px !important;
    }

    // 320
    @include from-smartphone {
      font-size: 16px !important;
    }
  }
}
